.navbar {
  background-color: rgb(32, 12, 146);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.navbar-logo {
  flex: 1;
}

.logo-image {
  height: 25px; /* Increase logo height */
  width: auto; /* Allow logo width to adjust according to height */
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-right: 20px; /* Reduce spacing between navbar links */
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 16px; /* Increase font size */
  transition: color 0.3s ease; /* Add smooth color transition on hover */
}

.navbar-links a:hover {
  color: #ffc107; /* Change color on hover */
}

.reports-dropdown {
  position: relative;
}

.reports-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(30, 13, 124); /* Match navbar background color */
  min-width: 150px; /* Increase dropdown width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  z-index: 1;
}

.reports-dropdown:hover .reports-dropdown-content {
  display: block;
}

.reports-dropdown-content a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.5s ease; /* Add smooth background color transition */
}

.reports-dropdown-content a:hover {
  background-color: #3f51b5; /* Change background color on hover */
}
